/*****  ***************
IMPORTS
*******************/
@import url('accessibility.css');
@import url('card-styles.css');

/********************
YOUR STYLES
*******************/

.icon {
    height: 22px;
    width: 22px;
}

footer {
    float: right;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}