/*****  ***************
IMPORTS
*******************/
@import url('accessibility.css');
@import url('card-styles.css');

/********************
YOUR STYLES
*******************/

.icon {
    height: 22px;
    width: 22px;
    display: inline-block;
    text-decoration: none;

}

footer {
    float: right;
    align: inline-block;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: white;
    display: inline-block;
}

span {
    color: black;
}

a {
    text-decoration: none;
}
/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}